* {
  font-family: sans-serif;
}

article {
  float: left;
  width: 50%;
}

h1 {
  color: red;
  text-align: center;
  margin-bottom: 20%;
}

section {
  text-align: center;
  margin-bottom: 8%;
}

form {
  display: flex;
  flex-direction: column;
}

form > input[type="email"],
form > input[type="text"] {
  align-self: center;
  width: 70%;
  margin-top: 1%;
  height: 3em;
}

::placeholder {
  color: rgb(136, 130, 133);
  font-size: 1em;
  position: absolute;
}

form > div {
  display: flex;
  flex-direction: row;
  margin-left: 14.6%;
  justify-content: space-between;
  margin-top: 0.5%;
  margin-bottom: 4%;
}

form > div > label {
  margin-right: 17.5%;
}

form > div > label > a {
  text-decoration: none;
}

button {
  width: 70%;
  align-self: center;
  background-color: rgb(0, 187, 255);
  color: white;
  padding: 10px;
}

button:hover {
  background-color: rgba(0, 187, 255, 0.85);
  cursor: pointer;
}

body > article > div {
  text-align: center;
  margin-top: 2%;
}

body > article > div > a {
  text-decoration: none;
}

img {
  float: right;
  width: 50%;
}
