* {
  font-family: sans-serif;
}

.Layout {
  display: flex;
}

.Layout__leftarea {
  width: 50%;
}

.Layout__title {
  color: red;
  text-align: center;
  margin-bottom: 20%;
}

.Layout__maintext {
  text-align: center;
  margin-bottom: 8%;
}

.loginForm {
  display: flex;
  flex-direction: column;
}

.loginForm__elements {
  display: flex;
  flex-direction: column;
  row-gap: 1em;
}

.loginForm__inputs {
  align-self: center;
  width: 70%;
  height: 3em;
}

::placeholder {
  color: rgb(136, 130, 133);
  font-size: 1em;
  position: absolute;
}

.loginForm__extras {
  display: flex;
  width: 70%;
  align-self: center;
  flex-direction: row;
  align-self: center;
  justify-content: space-between;
  margin-top: 0.5%;
  margin-bottom: 4%;
}

.loginForm--decoration {
  text-decoration: none;
}

.loginForm__continueButton {
  width: 70%;
  align-self: center;
  font-size: 1.4em;
  background-color: rgb(0, 187, 255);
  color: white;
  padding: 10px;
}

.loginForm__continueButton:hover {
  background-color: rgba(0, 187, 255, 0.85);
  cursor: pointer;
}

body main > div {
  text-align: center;
  margin-top: 2%;
}

img {
  width: 50%;
}
